stages:
  - test
  - deploy

# 1. 테스트 단계
backend-test:
  stage: test
  image: python:3.11-slim
  script:
    - pip install uv
    - uv pip install --system -r pyproject.toml
    - python manage.py test
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'

# 2. 배포 단계
deploy-to-ec2:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    # GitLab Variables에서 가져온 PEM 키 등록
    - echo "$EC2_SSH_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - |
      cat <<EOF > ~/.ssh/config
      Host *
          StrictHostKeyChecking no
      EOF

  script:
    - |
      ssh $EC2_USER@$EC2_HOST << 'REMOTESSHTERMINAL'
        cd /home/ubuntu/S14P11M101/backend
        git pull origin master
        # GitLab Variables에서 가져온 .env 내용을 서버에 파일로 생성
        echo "$ENV_FILE" > .env
        docker compose up -d --build
        docker system prune -f
      REMOTESSHTERMINAL
  
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'