# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
build/
dist/
.python-version

# --- Django ---
db.sqlite3
db.sqlite3-journal
staticfiles/
media/
.env

# --- OS & IDE ---
.DS_Store
.idea/
.vscode/
*.swp
*.bak

# --- Log & Temp ---
*.log
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# --- Docker ---
.docker/
docker-compose.override.yml

# --- Data --- 26/02/09 20:14 두진 추가
backend/movie_data/
*.mp4
*.ts

# --- Project Specific ---
# 만약 미디어 파일이나 정적 파일 폴더 구조만 유지하고 싶다면 아래 주석을 해제하세요
# !staticfiles/.gitkeep
# !media/.gitkeep
