services:
  backend:
    build: .
    container_name: backend
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    expose:
      - 8000
    env_file:
      - .env
    depends_on:
      - db
      - redis
  
  collector: # 26/02/09 20:13 두진 추가
    build: .
    container_name: movie-collector
    restart: always
    # movie_collector 폴더 안의 파일을 루트 기준으로 실행
    command: python -u movie_collector/full_collector.py
    volumes:
      - .:/app
      - ./movie_data:/app/movie_data
    env_file:
      - .env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    container_name: db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6379:6379"

  nginx:
    image: nginx:1.25
    container_name: nginx
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./staticfiles:/app/staticfiles
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  postgres_data:
